@import "tailwindcss";

:root {
  --primary-color: #003366;
  --button-color: #cc0052;
  --text-primary: #003366;
  --text-secondary: #6b7280;
  --hover-color: #be185d;
}

/* TEXT */

.primary-text {
  color: var(--text-primary);
}

.secondary-text {
  color: var(--text-secondary);
}

/* BACKGROUNDS */

.primary-bg {
  background-color: var(--primary-color);
}

.button-bg {
  background-color: var(--button-color);
}

/* HOVER */

.hover-text:hover {
  color: var(--hover-color);
}